*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6; /* Most use 1.5 */
}

img {
  max-width: 100%;
  display: block;
}
